$backgroundColor: #eed58c7f;
$colorSerif: #00000066;
$colorNumRegular: #00000099;
$colorNumBold: #000000cc;
$colorTextError: #FF0000FF;
$colorNumError: #FF940099;
$colorArrow: #cb0303;
$border: #00000033
